.navbar {
    background-color: rgba(243, 243, 243, 0.6) !important;
    backdrop-filter: blur(10px) !important;
}

.NavBar .nav-link:hover {
    border-radius: 5px;
}

.NavBar .nav-link {
    border-radius: 5px;
}

.NavBar .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

