body {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.wrapper {
  margin-top: 3.9rem;
  flex:1;
}

.bg-ccdarkblue {
  background-color: rgb(29, 49, 102);
}

.bg-cclightblue {
  background-color: rgb(13, 131, 250);
}