body {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

.wrapper {
  margin-top: 3.9rem;
  flex:1;
}

.bg-ccdarkblue {
  background-color: rgb(29, 49, 102);
}

.bg-cclightblue {
  background-color: rgb(13, 131, 250);
}

code {
    background-color: var(--bs-gray-200);
    padding: 5px;
    border-radius: 5px;
}

.btn-active {
    background-image: linear-gradient(rgba(13, 131, 250, 0.15) 0 0);
  }

.md-format {
    white-space: normal;
}